@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('./fonts/04b03.css');

:root {
  --color-1: rgb(77, 77, 209);
  --color-2: rgb(4, 181, 254);
  --color-3: rgb(85, 2, 189);

  --color-background: rgb(229, 238, 252);
  --color-text: rgb(15, 15, 15);
  --color-highlight: var(--color-1);
  --color-second: var(--color-2);
  --color-third: var(--color-3);

  --color-accent: rgb(170, 189, 216);
  --color-success: rgb(0, 168, 60);
  --color-success-mild: rgb(219, 251, 234);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  min-width: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.25px;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
