@import './base';

#app {
  margin: 0 auto;
  padding: 40px;
  height: 100vh;
  align-self: stretch;

  @media screen and (max-width: 550px) {
    padding: 16px;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
